# secrets
.env
docker/secrets

#docker
docker/

#fixtures
fixtures/
app/

# Environnement virtuel
myblog-venv/
pip/cache/

# Fichiers de base de données
db.sqlite3

# Fichiers de cache
*.pyc
*.pyo
*.pyd
__pycache__/

# Fichiers de logs
*.log

# Fichiers de build et de distribution
build/
dist/
*.egg-info/

# Fichiers de configuration IDE
.vscode/
.idea/
.pytest_cache/

# Fichiers de documentation générés
docs/_build/

# Fichiers de tests
*.coverage
.coverage
coverage/