<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mon blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <script type="text/javascript" src="{% static 'blog/script.js' %}"></script>
</head>
<body>
    <!-- TODO ajouter une flêche de retour
     lorsque l'on click sur un post -->
    <nav>
        <a href="{% url 'blog:home' %}">
            <img id="logo" src="{% static 'blog/images/logo_cz.png' %}"/>
        </a>
        <img id="menu-icon" src="{% static 'blog/icons/menu-icon.svg' %}" alt="Menu icon"/>
        <img id="search-icon" src="{% static 'blog/icons/search-icon.svg' %}" alt="Search icon"/>
        <ul class="menu">
            <li><a href="{% url 'blog:home' %}">Page d'accueil</a></li>
            <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
            <li><a href="{% url 'blog:about' %}">A propos</a></li>
            <li><a href="{% url 'blog:contact' %}">Contact</a></li>
            <!-- TODO ajouter une section déroulante (aide mémoire) -->
        </ul>
    </nav>
    <div name="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>