<!DOCTYPE html>
<html>
<head>
    <style>html{display: none;}</style>
    <title>{% block title %}Mon blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <script src="{% static 'blog/script.js' %}" defer></script>
    <link rel="shortcut icon" href="{% static 'blog/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% load svg_tags %}
    {% comment %} {% if request.path != home_url %}
    <a id="back_arrow" href="javascript:void(0);" onclick="goBack()">
        {% load_svg 'left_arrow' %}
    </a>
    {% endif %} {% endcomment %}
    <nav>
        <a id="logo" href="{% url 'blog:home' %}">
            <img src="{% static 'blog/images/logo_cz.png' %}"/>
        </a>
        {% load_svg 'menu-icon' %}
        {% comment %} {% load_svg 'search-icon' %} {% endcomment %}
        {% load i18n %}
        <ul class="menu">
            <li><a href="{% url 'blog:home' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
            <li><a href="{% url 'blog:about' %}">{% trans "About me" %}</a></li>
            <li><a href="{% url 'blog:contact' %}">{% trans "Contact" %}</a></li>
            <li><a href="{% url 'blog:news' %}">{% trans News %}</a></li>
            <!-- TODO ajouter une section déroulante (aide mémoire) -->
        </ul>
    </nav>
    <div name="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>