{% extends "blog/base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
    <div class="home-container">
        <h3>Welcome to my personal website !</h3>

        <p>
            There are only fake blog posts generated so far.
            I will fix that later.
        </p>

        <p>
            I am still working on the staging environment.
        </p>

        <p>
            I have mainly modified scripts to automate some tasks.
            There is still some work to do, but once that is done,
            I will be able to work on the main features of the website.
        </p>

        <p>
            I have to take care of urgent matters before I can do anything else. 
            Once those matters are taken care of, 
            I will focus on creating content in different formats
            for this website and social media as well.
        </p>

        <p>
            I will update this page on Sundays.
            Each of the above information will remain valid until I update or remove them.
        </p>

        <p>
            Thank you for your interest, patience and understanding.
        </p>

        <p>
            You can visit my blog <a href="{% url 'blog:post-list' %}">here</a>.
        </p>

        <p>
            You can check my github account <a href="https://github.com/clement-zentz" target="_blank">here</a>
        </p>
    </div>
{% endblock content %}