{% extends "blog/base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
    <div class="home-container">
        <h3>Welcome to my personal website !</h3>
        <p>
            I have added a page to inform you about the development status of this project.
        </p>
        <p>
            You can check this page <a href="{% url 'blog:news' %}">here</a>.<br>
            Or by clicking on the "News" section in the menu.
        </p>
        <p>
            You can visit my blog <a href="{% url 'blog:post-list' %}">here</a>.
        </p>

        <p>
            You can check my github account <a href="https://github.com/clement-zentz" target="_blank">here</a>
        </p>
    </div>
{% endblock content %}