{% extends 'blog/base.html' %}

{% block title %}Some news{% endblock %}

{% block content %}
    <div class="news-container">
        <h1>Latest news:</h1>

        <p>
            There are only fake blog posts generated so far.
            I will fix that later.
        </p>

        <p>
            I tried using HTTPS on the test environment
            with a self-signed certificate, and it didn't work as expected.
            So I decided to revert to HTTP and continue like that for now.
        </p>

        <p>
            I will probably use popular frameworks in the future 
            for Front-end, Back-end, DevOps, etc.
            I don't want to add too much complexity to the project right now,
            so I'll add them gradually.
        </p>

        <p>
            I have to take care of urgent matters before I can do anything else. 
            Once those matters are taken care of, 
            I will focus on creating content in different formats
            for this website and social media as well.
        </p>

        <p>
            My goal is to create a blog with the bare minimum of features 
            and a few real blog posts as soon as possible.
        </p>

        <p>
            I don't have as much time as I would like for this project, 
            so my progress won't be as fast as it should be.
        </p>

        <p>
            I will update this page on Sundays.
            Each of the above information will remain valid until I update or remove them.
        </p>

        <p>
            Thank you for your interest, <mark><i><strong>patience</strong></i></mark> and understanding.
        </p>
    </div>
{% endblock %}