{% extends "blog/base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="post-list_container">
        <h2 id="article_list">Liste des articles:</h2>
        <!-- TODO ajouter des boutons pour les catégories -->
        {% if posts %}
            <ul class="post_list">
                {% for post in posts %}
                    <li>
                        <a href="{% url 'blog:post-detail' post.pk %}">
                            <img class="img_place_holder"></img>
                            <h4>{{post.title}}</h4>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>no blog post are available.</p>
        {% endif %}
    </div>
{% endblock content %}